* {
  margin: 0;
  padding: 0;
}
#menu {
  background: url("../images/xmad.jpg") no-repeat center center;
  width: 1226px;
  height: 460px;
  margin: 0 auto;
  position: relative;
}
#menu .menu-left {
  width: 235px;
  height: 460px;
  color: #FFFFFF;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 6;
}
#menu .menu-left li {
  width: 235px;
  height: 40px;
  list-style: none;
  text-indent: 30px;
}
#menu .menu-left li a {
  margin-top: 5px;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 40px;
  display: block;
  text-decoration: none;
}
#menu .menu-left li .hiden {
  width: 700px;
  height: 460px;
  background: white;
  position: absolute;
  left: 235px;
  top: 0;
  display: none;
}
#menu .menu-left li .hiden .lie {
  width: 265px;
  height: 460px;
  background: #FFFFFF;
  float: left;
  position: relative;
}
#menu .menu-left li .hiden .lie a {
  color: #333333;
  display: block;
  position: relative;
}
#menu .menu-left li .hiden .lie a img {
  width: 40px;
  height: 40px;
  float: left;
  position: relative;
  top: 17px;
  margin-left: 25px;
}
#menu .menu-left li .hiden .lie a span.jianjie {
  font-size: 14px;
  line-height: 70px;
  margin-left: -15px;
  margin-right: 40px;
}
#menu .menu-left li .hiden .lie a span.btn {
  border: 1px solid #FF6700;
  color: #FF6700;
  padding: 3px 8px;
}
#menu .menu-left li .hiden .lie a span.btn:hover {
  background: #f25807;
  border-color: #f25807;
  color: #fff;
}
#menu .menu-left li .hiden .lie a:hover {
  color: #FF6700;
}
#menu .menu-left li:hover {
  background: #FF6700;
}
#menu .menu-left li:hover .hiden {
  display: block;
}
#menu-bottom {
  width: 1226px;
  height: 170px;
  margin: 20px auto 0;
}
#menu-bottom .six {
  width: 234px;
  height: 170px;
  float: left;
  background: #5F5750;
  margin-right: 15px;
}
#menu-bottom .six li {
  float: left;
  width: 76px;
  height: 67px;
  text-align: center;
  padding-top: 15px;
  list-style: none;
}
#menu-bottom .six li a {
  color: #CDCAC8;
  text-decoration: none;
}
#menu-bottom .six li a .icon {
  display: block;
  font-size: 30px;
}
